article{
        font-size: .85rem;
    &.blog-list-item{
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 1rem;
    }
    header{
        background: none !important;
    }
    .post-preview{
        color: #2c2e31
    }

.post-date{
    margin-left: 2rem;
    font-size: 0.85em;
}
}
